# Copy this file to ".env" and fill in your real keys.
# Never commit the real ".env" file to GitHub.

GNEWS_API_KEY=6146114d63cec2a2bea299913a79258e
GUARDIAN_API_KEY=42fab26e-251e-44cb-b57f-b64bab11719c
GEMINI_API_KEY=AQ.Ab8RN6L_KCzaKSGqLhWcjpH7VEvmQwaNqhDh3SE5mQpZjjvqxw
TELEGRAM_BOT_TOKEN=8906168519:AAEmaGYxZzFi32kQtYRWmNWt00tCDxK1_K0
TELEGRAM_CHAT_ID=1869937089
